@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="position:relative">

    <div class="carousel-indicators">


        @{
            int SlideCount = 0;
        }

        @foreach (var obj in Model.banners)
        {
            <button type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="@SlideCount"
            class="@(SlideCount == 0 ? "active" : "")"
            aria-current="@(SlideCount == 0 ? "true" : null)"
            aria-label="Slide @(SlideCount + 1)">
            </button>

            SlideCount++;
        }

    </div>



    <div class="carousel-inner">

        @{
            SlideCount = 0;
        }

        @foreach(var obj in Model.banners){
            <div class="carousel-item @(SlideCount == 0 ? "active" : "") ">
                <img src="@Url.Content(obj.ImagePath + obj.Image)" class="d-block w-100" alt="banner"> 
            </div>

            SlideCount++;
        }

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="home-brand-bar">
    <div class="brand-track">

        @foreach (var obj in Model.groups)
        {
            <div class="home-brand">
                <img src="@Url.Content(obj.ImagePath + obj.Image)"
                class="home-brand-image"
                alt="@obj.Name" />
            </div>
        }

    </div>
</div>

<div class="home-new-arrival">

    <div class="home-new-arrival-title text-center mb-4">
        NEW ARRIVALS
    </div>

    <div class="home-new-arrival-content">

        <div class="row g-4">

            @foreach (var obj in Model.newarrivals)
            {
                <div class="col-6 col-md-4 col-lg-3">

                    <div class="home-new-arrival-product-cover">

                        <img src="@Url.Content(obj.SmallImagePath + obj.SmallImage)"
                        class="home-new-arrival-product-image"
                        alt="@obj.Name" />

                    </div>

                    <div class="home-new-arrival-product-info">

                        <div class="home-new-arrival-product-name">
                            @obj.Name
                        </div>

                        <div class="home-new-arrival-product-brand">

                            <span class="home-new-arrival-product-brand-icon"><i class="fas fa-store"></i></span>
                            <span class="home-new-arrival-product-brand-name">@obj.GroupName</span>

                        </div>

                        <div class="home-new-arrival-product-price">
                            @if (obj.MinPrice == null)
                            {
                                <span>-</span>
                            }
                            else if (obj.MinPrice == obj.MaxPrice)
                            {
                                <span>@obj.CurrencySymbol @obj.MinPrice.ToString("0.00")</span>
                            }
                            else
                            {
                                <span>
                                    @obj.CurrencySymbol @obj.MinPrice.ToString("0.00")
                                    -
                                    @obj.CurrencySymbol @obj.MaxPrice.ToString("0.00")
                                </span>
                            }
                        </div>

                    </div>

                </div>
            }

        </div>

        <div class="row text-center mt-5">

            <div class="col-12">

                <button id="btnNewArrivalViewAll" type="button" class="btn-border-gradient" value="SHWMR">View All</button>

            </div>

        </div>

    </div>

</div>


<hr class="home-horizontal-separator" />

<div class="home-banner-advertising">

    @if (string.IsNullOrEmpty(Model.banneradvertising.Link))
    {
        <img src="@Url.Content(Model.banneradvertising.ImagePath + Model.banneradvertising.Image)" class="home-banner-advertising-image" />
    }
    else
    {
        <a href="@Model.banneradvertising.Link">
            <img src="@Url.Content(Model.banneradvertising.ImagePath + Model.banneradvertising.Image)" class="home-banner-advertising-image" />
        </a>
    }


</div>

<hr class="home-horizontal-separator" />

<div class="home-about">

    <div class="row align-items-stretch home-about-row">

        <!-- IMAGE -->
        <div class="col-12 col-md-6">
            <img src="~/Images/GENERAL/About.png"
            class="home-about-image"
            alt="About Tsunami Tattoo Supply" />
        </div>

        <!-- RIGHT SIDE -->
        <div class="col-12 col-md-6 d-flex flex-column">

            <div class="flex-fill d-flex align-items-center">
                <div class="home-about-title">
                    <p>ABOUT</p>
                    <p>TSUNAMI</p>
                    <p>TATTOO SUPPLY</p>
                </div>
            </div>

            <div class="flex-fill position-relative">

                <div class="home-about-cover d-flex align-items-center">

                    <div class="home-about-text">
                        @Html.Raw(@Model.about.ShortText)
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="row text-center" style="margin-top:160px">

        <div class="col-12">

            <button id="btnAbountLearnMore" type="button" class="btn-border-gradient" value="LRNMR">Learn More</button>

        </div>

    </div>

</div>

<hr class="home-horizontal-separator" />

<div class="home-category">
    <div class="row">
        <div class="col-12 home-category-title">
            SHOP BY CATEGORY
        </div>

        <div class="col-12 home-category-content">

            @{
                string htmlRow = string.Empty;
            }

            @foreach (var obj in Model.categories)
            {
                switch (obj.Rank)
                {
                    case 1:

                        htmlRow += "<div class='mb-3'>";

                        htmlRow += "<div class='position-relative'>";

                        htmlRow += "<img class='category-box-large' src='" + Url.Content(obj.WebImagePath + obj.WebImage) + "' />";

                        htmlRow += "<label class='home-category-description'>" + obj.Description + "</label>";

                        htmlRow += "</div>";

                        htmlRow += "</div>";

                        break;


                    case 2:

                        htmlRow += "<div class='d-flex mb-3' style='gap:15px; flex-wrap:nowrap;'>";

                        htmlRow += "<div class='position-relative' style='flex:407;'>";

                        htmlRow += "<img class='category-box-small' src='" + Url.Content(obj.WebImagePath + obj.WebImage) + "' />";

                        htmlRow += "<label class='home-category-description'>" + obj.Description + "</label>";

                        htmlRow += "</div>";

                        break;


                    case 3:

                        htmlRow += "<div class='position-relative' style='flex:685;'>";

                        htmlRow += "<img class='category-box-medium' src='" + Url.Content(obj.WebImagePath + obj.WebImage) + "' />";

                        htmlRow += "<label class='home-category-description'>" + obj.Description + "</label>";

                        htmlRow += "</div>";

                        htmlRow += "</div>"; // close flex

                        break;
                }
            }

            @Html.Raw(htmlRow)

        </div>
    </div>
</div>
 
<script>
    const track = document.querySelector('.brand-track');
    const container = document.querySelector('.home-brand-bar');

    // 🔥 duplicate ONCE
    const original = [...track.children];
    original.forEach(el => track.appendChild(el.cloneNode(true)));

    let position = 0;
    const speed = 0.5;

    let paused = false;

    // ✅ hover events
    container.addEventListener('mouseenter', () => paused = true);
    container.addEventListener('mouseleave', () => paused = false);

    function animate() {

        if (!paused) {
            position -= speed;

            const first = track.children[0];
            const style = getComputedStyle(first);
            const margin = parseFloat(style.marginLeft) + parseFloat(style.marginRight);
            const width = first.offsetWidth + margin;

            if (-position >= width) {
                track.appendChild(first);
                position += width;
            }

            track.style.transform = `translate3d(${position}px,0,0)`;
        }

        requestAnimationFrame(animate);
    }

    animate();

</script>